<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Devices</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
    <link href="css/main.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive1.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="bootstrap/js/angular.min.js"></script>
    <script src="bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid vleleft">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 vlenav">
				<nav class="navbar"/>
						<div class="navbar-header logohead">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leftnav" aria-expanded="false">
								<span class="sr-only"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#" class="pull-left logo"><strong>VLE</strong> PAYG SYSTEM</a>
						</div>
						<div class="collapse navbar-collapse" id="leftnav">
							<ul class="nav navbar-nav">
								<li><a href="#/admin"><img src="images/dashboard.png"> <span>Dashboard</span></a></li>
								<li class="active"><a href="#/devices"><img src="images/devices.png"> <span>Devices</span></a></li>
								<li><a href="#/payments"><img src="images/payments.png"> <span>Payments</span></a></li>
								<li><a href="#/accounts"><img src="images/settings.png"> <span>Accounts</span></a></li>
							</ul>
						</div>
				</nav>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 right clearfix">
				<div class="userinfo user-nav clearfix">
					<ul class="list-group pull-right list-inline">
						<li class="list-group-item">SkipperSeil</li>
						<li class="list-group-item"><img src="images/logout.png" ng-click="logout()"></li>
					</ul>
				</div>
					<div class="pagehead clearfix">
						<span class="pull-left"> <a href="#/devices"><img src="images/back.png" /></a>Add New SHS</span>
						<!-- <a href="#" class="btn btn-primary custom-btn pull-right">Add New SHS</a> -->
					</div>
					<div class="pagebody clearfix">
						<div class="customform col-md-8 col-md-offset-2 col-md-offset-right-2 col-sm-12">
						<form name="deviceform" ng-submit="addContact(deviceform.$valid)" novalidate="novalidate">
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsnumber.$valid && deviceform.$submitted,
										'has-success': deviceform.shsnumber.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="shsnumber">Device Serial Number</label>
									<input type="number" name="shsnumber" class="form-control" ng-model="contact.shsnumber" ng-minlength="2" ng-maxlength="8" required />
									<p class="help-block" ng-show="deviceform.shsnumber.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsnumber.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsmobilenumber.$valid && deviceform.$submitted,
										'has-success': deviceform.shsmobilenumber.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="shsmobilenumber">Device Mobile Number</label>
									<input type="number" name="shsmobilenumber" class="form-control" ng-model="contact.shsmobilenumber" ng-minlength="2" ng-maxlength="10" required />
									<p class="help-block" ng-show="deviceform.shsmobilenumber.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsmobilenumber.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>
								 <div class="form-group" ng-controller="modelCtrl" ng-class="
									{	'has-error': !deviceform.shsdevicetype.$valid && deviceform.$submitted,
										'has-success': deviceform.shsdevicetype.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="shsdevicetype">Device Type</label>
									<select type="text" name="shsdevicetype" class="form-control" ng-model="contact.shsdevicetype" ng-options="x for x in names" required></select>
									<p class="help-block" ng-show="deviceform.shsdevicetype.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsdevicetype.$error.number && deviceform.$submitted">Please Select Option</p>
									
								</div>
								<div class="form-group" ng-controller="myCtrlPayment" ng-class="
									{	'has-error': !deviceform.shspaymenttype.$valid && deviceform.$submitted,
										'has-success': deviceform.shspaymenttype.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="shspaymenttype">Payment Type</label>
									<select type="text" name="shspaymenttype" class="form-control" ng-model="contact.shspaymenttype" required>
										<option>Scratch Card</option>
										<option>Credit Card</option>
									</select>
									<p class="help-block" ng-show="deviceform.shspaymenttype.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shspaymenttype.$error.number && deviceform.$submitted">Please Select Option</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsownername.$valid && deviceform.$submitted,
										'has-success': deviceform.shsownername.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="shsownername">Device Owner Name</label>
									<input type="text" name="shsownername" class="form-control" ng-model="contact.shsownername" required />
									<p class="help-block" ng-show="deviceform.shsownername.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsownername.$error.number && deviceform.$submitted">Please Enter Valid Name</p>
									
								</div> 
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsownermobilenumber.$valid && deviceform.$submitted,
										'has-success': deviceform.shsownermobilenumber.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="shsownermobilenumber">Device Owner Number</label>
									
									<input type="number" name="shsownermobilenumber" class="form-control" ng-model="contact.shsownermobilenumber" ng-minlength="2" ng-maxlength="10" required />
									<p class="help-block" ng-show="deviceform.shsownermobilenumber.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsownermobilenumber.$error.pattern && deviceform.$submitted">This is Not a Valid Number</p>
									<p class="help-block" ng-show="deviceform.shsownermobilenumber.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsalternatemobilenumber.$valid && deviceform.$submitted,
										'has-success': deviceform.shsalternatemobilenumber.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="shsalternatemobilenumber">Alternate Mobile Number</label>
									<input type="number" name="shsalternatemobilenumber" class="form-control" ng-model="contact.shsalternatemobilenumber" ng-minlength="2" ng-maxlength="10" required />
									<p class="help-block" ng-show="deviceform.shsalternatemobilenumber.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsalternatemobilenumber.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>
								<div class="form-group form-btn-group">
									<button type="submit" name="shssubmit" class="form-control btn-primary input-primary custom-btn"> Submit </button>
								</div>

							</form>
							
						</div>
					</div>
			</div>
		</div>
	</body>
</html>
