<!DOCTYPE html> <html>     
<head>        
 <meta charset="utf-8">
<title>Devices</title>         
<meta name="viewport" content="width=device-
width, initial-scale=1.0">         
<!-- <link href="../css/main.css" rel="stylesheet">         
<link href="../css/responsive.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>     
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>     
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->     
<link href="css/main.css" rel="stylesheet">     
<link href="css/custom.css" rel="stylesheet">     
<link href="css/responsive1.css" rel="stylesheet">     
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">    
<script src="bootstrap/js/angular.min.js"></script>
<script src="bootstrap/js/jquery-3.1.1.min.js"></script>     
<script src="bootstrap/js/bootstrap.min.js"></script>     
</head>     
<body>
<div class="container-fluid vleleft">             
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 vlenav">                 
<nav class="navbar"/>
	<div class="navbar-header logohead">                             
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leftnav" aria-expanded="false">                                 
	<span class="sr-only"></span>
	<span class="icon-bar"></span>                                 
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>                             
	</button>
	<a href="#" class="pull-left logo"><strong>VLE</strong> PAYG SYSTEM</a>
	</div>                         
	<div class="collapse navbar-collapse" id="leftnav">                             
	<ul class="nav navbar-nav">
	<li><a href="#/admin"><img src="images/dashboard.png"> <span>Dashboard</span></a></li>                                 
	<li class="active"><a href="#/devices"><img src="images/devices.png"> <span>Devices</span></a></li>                                 
	<li><a href="#/payments"><img src="images/payments.png"> <span>Payments</span></a></li>                                 
	<li><a href="#/accounts"><img src="images/settings.png"> <span>Accounts</span></a></li>
	</ul>                         
	</div>                 
	</nav>             
	</div>
	<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 right clearfix">
		<div class="userinfo user-nav clearfix">                     
		<ul class="list-group pull-right list-inline">
		<li class="list-group-item">SkipperSeil</li>                         
		<li class="list-group-item"><img src="images/logout.png" ng-click="logout()"></li> 
		</ul>
	</div>                     
		<div class="pagehead clearfix">
		<span class="pull-left">Devices</span>
		 <a ng-click="AddDevice()" class="btn btn-primary custom-btn pull-right">Add New SHS</a>
		</div>                     
		<div class="pagebody clearfix">                         
		<div class="customtable col-md-10 col-md-offset-1 col-md-offset-right-1 table-responsive">
		<table class="table table-striped">                                 
		<thead>
			<tr class="tfilter">
				<th colspan="2">
					<input type="text" ng-model="search.shsnumber" class="form-control inline" placeholder="Enter Serial Number"/>                                         
				</th>
				<th ng-controller="myCtrl">  
					<!-- Filter is not working -->
					<select type="text" class="form-control" ng-model="selectshsstatus" ng-options="x for x in names | unique:'names'">
                <option value="">All</option>
            </select>
				</th>                                         
				<th >  
					<select class="form-control" data-ng-model="selectshspaymenttype" ng-options="contact.shspaymenttype as contact.shspaymenttype for contact in contactlist | unique:'shspaymenttype'">
               <option value="">--select pay type--</option>
            </select>
  
</div>
                   
				</th> 
				<th>
					
				</th>
			</tr>
			<tr>
				<th>S.No</th>
				<th>Serial Number</th>
				<th>Device Status</th>
				<th>Payment Type</th>
				<!-- <th>Date</th> -->
				<th>View/Delete</th>
			</tr>
			</thead>
			<tbody>
				
                 <tr ng-repeat="contact in contactlist |filter:search | filter: selectshspaymenttype | filter: selectshsstatus " > 
		       <td>{{$index + 1}}</td>
			   <td> {{contact.shsnumber}}</td>
			   <td> {{contact.shsstatus}}</td>
			   <td> {{contact.shspaymenttype}}</td>
			   <!-- <td> {{contact.shsdate | date: 'dd/MM/yyyy'}}</td> -->
				  <td><a ng-click="view(contact._id)" ><img src="images/view.png"></a> <a ng-click="remove(contact._id)"><img src="images/delete.png"></a></td>
			 <!--   <td> <button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button><button class="btn btn-warning" data-toggle="modal" data-target="#myModaledit" ng-click="edit(contact._id)">Edit</button></td> -->
			   
		  
		  </tr>


			</tbody>
		</table>
		</div>
		</div>
		</div>
		</div>
	</body>
</html>
