<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Devices</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link href="../css/main.css" rel="stylesheet">
		<link href="../css/responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link href="css/main.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive1.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="bootstrap/js/angular.min.js"></script>
    <script src="bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid vleleft">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 vlenav">
				<nav class="navbar"/>
						<div class="navbar-header logohead">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leftnav" aria-expanded="false">
								<span class="sr-only"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#" class="pull-left logo"><strong>VLE</strong> PAYG SYSTEM</a>
						</div>
						<div class="collapse navbar-collapse" id="leftnav">
							<ul class="nav navbar-nav">
								<li><a href="#/admin"><img src="images/dashboard.png"> <span>Dashboard</span></a></li>
								<li class="active"><a href="#/devices"><img src="images/devices.png"> <span>Devices</span></a></li>
								<li><a href="#/payments"><img src="images/payments.png"> <span>Payments</span></a></li>
								<li><a href="#/accounts"><img src="images/settings.png"> <span>Accounts</span></a></li>
							</ul>
						</div>
				</nav>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 right clearfix">
				<div class="userinfo user-nav clearfix">
					<ul class="list-group pull-right list-inline">
						<li class="list-group-item">SkipperSeil</li>
						<li class="list-group-item"><img src="images/logout.png"></li>
					</ul>
				</div>
				<div class="r clearfix">
				<div class="innerpageleft col-lg-9 col-md-8 col-sm-12 col-xs-12">
				<div class="pagehead clearfix">
						<span class="pull-left"> <a href="#/devices"><img src="images/back.png" /></a > SHS S.No {{deviceNumber}}</span>
						<!-- <a href="#" class="btn btn-primary custom-btn pull-right">Demo</a> -->
				</div>
					<div class="pagebody clearfix">
						<div class="padding0 col-md-12 col-sm-12">
							<div class="tile_blocks tile_padding clearfix">
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
								<div class="tile tile_userinfo">
								<span><img src="images/usericon.png"/></span>
								<h1>{{deviceOwnerNumber}}</h1>
								<!-- <p>skippersail@info.com</p> -->
								<span>{{deviceOwnerMobileNumber}}</span>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
							<div class="tile tile_userinfo">
								<span><img src="images/paidicon.png"/></span>
								<h1>Total Due Amount</h1>
								<!--  <p> {{amtpay}}</p> --> 
								 <p>DUE: $ {{ duecost}}</p> 
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
							<div class="tile tile_userinfo">
								<span><img src="images/customersince.png"/></span>
								<h1>Customer Since</h1>
								<p>{{deviceInstalledDate | date: 'medium' }}</p>
								<!-- <span>Nigeria</span> -->
								</div>
							</div>
						</div>
						</div>
						<div class="clearfix"></div>
						<div class="device col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12">
							<div class="devicehead">
								
								<img src="images/hub.png"/>
								<h2>Device Status: <b>{{deviceStatus}}</b></h2>
								<p>{{deviceInstalledDate | date: 'medium'}}</p>
							</div> 
							<div class="devicebody clearfix">
								<div class="device_tile col-md-4 col-sm-4 col-xs-4">
									<p>Charging Status</p>
									<h2>{{devicechargingstatus}}</h2>
								</div>
								<div class="device_tile col-md-4 col-sm-4 col-xs-4">
									<p>Charging Level</p>
									<h2>{{devicechargingvalue}} %</h2>
								</div>
								<div class="device_tile col-md-4 col-sm-4 col-xs-4">
									<p>Device Voltage</p>
									<h2>{{devicelightvalue}} V</h2>
								</div>
							</div>
							<div class="deviceaction">
									<button class="turn-btn" ng-class="{'btn-active':singleDeviceData.shsstatus == 'InActive'}" ng-click="devicestatus('true')">Turn ON</button>
									<button class="turn-btn" ng-class="{'btn-active':singleDeviceData.shsstatus == 'Active'}" ng-click="devicestatus('false')">Turn OFF</button>
							</div>
							<!-- <pre>{{deviceSwitchStatus | json}}</pre> -->

						</div>
					</div>
			</div>
					<div class="innerpageright col-lg-3 col-md-4 col-sm-12 col-xs-12">
						<div class="iprhead">
							<h3>System Cost: {{devicecost}}</h3>
						</div>
						<div class="iprbody">
							<ul>
								<li>
									<h4>Payment Cycle</h4>
									<p>Weekly</p>
								</li>
								<li>
									<h4>Last Payment Date</h4>
									<p>{{deviceactiveDate | date: 'medium' }}</p>
								</li>
								<li>
									<h4>Payment Mode</h4>
									<p>Scratch Card</p>
								</li>
								<li>
									<h4>Total Paid</h4>
									<p>{{amtpay}}</p>
								</li>
								<li>
									<h4>Pending Amount</h4>
									<p>$ {{duecost}}</p>
								</li>
								<li class="libtns form-group">
									<!-- <input type="submit" value="Refresh Details" /> -->
									<input ng-click="view(addedDevice.shsnumber)" type="submit" value="Payment History" class="blue_btn" />
							</ul>
						</div>
					</div>
			</div>
			</div>
			
		</div>
	</body>
</html>
